/* font-family: 'Poppins', sans-serif; */
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header starts */
header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
}

.navbar {
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlink {
    text-decoration: none;
    color: #10385c;
    font-size: 14px;
    margin-left: 20px;
}


.logo>img {
    width: 150px;
    height: 29px;
}

/* Header ends */

/* Section starts */

.heading {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #10385c;
    color: white;
}

.secrow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}

.textdiv {
    width: 35%;
    color: #10385c;
    padding: 80px 0px 80px 80px;
    background-repeat: no-repeat;
    background-position: 10% 20%;
    background-size: 20%;
}

.textdiv>h3 {
    font-size: 24px;
    padding-bottom: 15px;
}

.textdiv>p {
    font-weight: 300;
    font-size: 13px
}

.viddiv {
    width: 35%;
    height: auto;
}

video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.comments {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.comdiv {
    width: 25%;
    margin: 18px;
    height: auto;
    border: 2px solid rgba(16, 56, 92, 0.2);
    color: #10385c;
    padding: 50px 30px 30px 30px;
    position: relative;
}

.circlediv {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: url('../images/quote.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -35px;
    left: 20px;
}

.comdiv>h3 {
    font-weight: 500;
    padding-bottom: 20px;
}

.comdiv>p {
    font-size: 12px;
    opacity: 0.9;
}

.comdiv>h4 {
    padding-top: 20px;
    color: black;
}

.des {
    color: black;
    opacity: 1;
}

.lastrow {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.demodiv {
    width: 60%;
}

h2 {
    color: #10385c;
    font-size: 28px;
    font-weight: 600;
}

.demodiv>form {
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.demodiv div {
    position: relative;
    width: 50%;
    padding-right: 20px;
}

.demodiv .textareadiv {
    width: 100%;
}

.demodiv div::after {
    content: '\f007';
    font-family: FontAwesome;
    position: absolute;
    right: 35px;
    top: 9px;
    color: #2b98f7;
}

.demodiv div.email::after {
    content: '\f0e0';
}

.demodiv div.country::after {
    content: '\f57e';
}

.demodiv div.phone::after {
    content: '\f095';
}

.demodiv div.company::after {
    content: '\f1ad';
}

.demodiv div.job::after {
    content: '\f508';
}

.demodiv div.textareadiv::after {
    content: '\f075';
}

.demodiv div.subbut::after {
    content: '';
}

button {
    background-color: #10385c;
    color: white;
    padding: 10px 30px 10px 30px;
}

.demodiv input {
    border: 2px solid rgba(16, 56, 92, 0.2);
    width: 100%;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 15px;
    display: inline-block;
}

.demodiv textarea {
    border: 2px solid rgba(16, 56, 92, 0.2);
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}

.nextdiv {
    width: 20%;
    height: 100%;
    border-left: 1px solid rgba(16, 56, 92, 0.3);
    padding-left: 35px;
    padding-right: 10px;

}

.nextdiv>p {
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 0.8;
}

/* section ends */

/* Footer starts */

.linksdiv {
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right top, #23133f 10%, #032d66);
}

.linksdiv>div {
    text-align: left;
    padding-right: 30px;
}

.borderdiv {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.borderdiv>span {
    margin-right: 20px;
}

.linksdiv p {
    font-size: 16px;
    color: white;
    padding-bottom: 10px;
}

.linksdiv a {
    color: white;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
}

.footerbase {
    font-size: 13px;
    font-weight: 300;
    background-color: #150d2b;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.baselinks>a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding: 0px 30px 0px 30px;
}

.blink {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.smlinks {
    padding: 20px;
}

.smlinks>a {
    font-size: 18px;
    color: white;
    padding: 0px 10px 0px 10px;
}

/* Footer ends */

/* Responsive */

@media only screen and (max-width: 800px) {
    .navbar {
        padding: 0;
    }

    .navlink {
        margin-left: 10px;
    }

    .secrow {
        display: block;
    }

    .textdiv {
        width: 80%;
        margin: auto;
    }

    .viddiv {
        width: 80%;
        margin: auto;
    }

    .comments {
        display: block;
    }

    .comdiv {
        width: 80%;
        margin: auto;
        margin-bottom: 50px;
    }

    .lastrow {
        display: block;
    }

    .demodiv {
        width: 95%;
        margin: auto;
    }


    .nextdiv {
        width: 100%;
    }

    .linksdiv {
        flex-wrap: wrap;
    }

    .borderdiv {
        border: none;
        margin: 0px;
        padding: 0;
    }

    .linksdiv div {
        width: 40%;
        margin: auto;
        padding: 0px;
        margin: 0;
    }
}