/* font-family: 'Poppins', sans-serif; */
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header starts */
.header-module {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 0 10px #000;
}

.logo img {
    width: 150px;
    height: 29px;
}

nav {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 10px 30px;
}

nav ul {
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 0 10px 20px;
}

nav ul li a {
    color: #23133f;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    display: inline-block;
    background-color: #23133f;
    transform: scaleX(0);
    transition: all 0.5s;
}

nav ul li a:hover::before {
    transform: scaleX(1);
}

.checkbtn {
    font-size: 30px;
    color: #23133f;
    float: right;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/* Header ends */

/* Section starts */

.heading-module {
    background-color: #10385c;
    color: white;
}

.container {
    width: 100%;
    max-width: 1100px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.textdiv {
    width: 50%;
    color: #10385c;
    padding: 80px;
    position: relative;
}

.textdiv::before {
    content: '';
    width: 100px;
    height: 100px;
    background-image: url('../images/quotebg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    opacity: 0.1;
    left: 5%;
    top: 10%;
}

.textdiv>h3 {
    font-size: 24px;
    padding-bottom: 15px;
}

.textdiv>p {
    font-weight: 300;
    font-size: 13px
}

.viddiv {
    width: 50%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.comdiv {
    width: calc(33.33% - 16px);
    margin: 25px 8px;
    border: 2px solid rgba(16, 56, 92, 0.2);
    color: #10385c;
    padding: 50px 30px 30px;
    position: relative;
}

.comdiv::after {
    content: '';
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: url('../images/quote.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -35px;
    left: 20px;
}

.comdiv>h3 {
    font-weight: 500;
    padding-bottom: 20px;
}

.comdiv>p {
    font-size: 12px;
    opacity: 0.9;
}

.comdiv>h4 {
    padding-top: 20px;
    color: black;
}

.des {
    color: black;
    opacity: 1;
}

.demodiv {
    width: 70%;
}

h2 {
    color: #10385c;
    font-size: 28px;
    font-weight: 600;
}

.demodiv>form {
    padding: 30px 30px 50px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.demodiv div {
    position: relative;
    width: 50%;
    padding-right: 20px;
    margin-bottom: 15px;
}

.demodiv .textareadiv {
    width: 100%;
}

.demodiv div::after {
    content: '\f007';
    font-family: FontAwesome;
    position: absolute;
    right: 35px;
    top: 9px;
    color: #2b98f7;
}

.demodiv div.email::after {
    content: '\f0e0';
}

.demodiv div.country::after {
    content: '\f57e';
}

.demodiv div.phone::after {
    content: '\f095';
}

.demodiv div.company::after {
    content: '\f1ad';
}

.demodiv div.job::after {
    content: '\f508';
}

.demodiv div.textareadiv::after {
    content: '\f075';
}

.demodiv div.subbut::after {
    content: '';
}

button {
    background-color: #10385c;
    color: white;
    padding: 10px 30px 10px 30px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
}

button::after {
    content: '\f35a';
    font-family: FontAwesome;
    position: absolute;
    right: -15px;
    top: 12px;
    transition: all 0.5s;
}

button:hover {
    padding-left: 20px;
    padding-right: 40px;
}

button:hover::after {
    right: 15px;

}

.demodiv input {
    border: 2px solid rgba(16, 56, 92, 0.2);
    width: 100%;
    padding: 5px;
    margin-right: 20px;

    display: inline-block;
}

.demodiv input:focus {
    outline: none;
}

.demodiv input:focus div::after {
    color: #150d2b;
}

.demodiv textarea {
    border: 2px solid rgba(16, 56, 92, 0.2);
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    resize: none;
}

.demodiv textarea:focus {
    outline: none;
}

.invalid {
    outline: 1px solid red;
}

.nextdiv {
    width: 30%;
    height: 100%;
    border-left: 1px solid rgba(16, 56, 92, 0.3);
    padding-left: 35px;
    padding-right: 50px;

}

.nextdiv>p {
    font-size: 14px;
    font-weight: 400;
    padding: 20px 30px 20px 0;
    opacity: 0.8;
}

/* section ends */

/* Footer starts */

.linksdiv {
    width: 100%;
    background-image: linear-gradient(to right top, #23133f 10%, #032d66);
    color: white;
}

.footerlinks {
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.linksdiv>div {
    text-align: left;
}

.borderdiv {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.borderdiv>span {
    margin-right: 20px;
}

.linksdiv p {
    font-size: 16px;
    padding-bottom: 10px;
}

.linksdiv a {
    color: white;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
}

.linksdiv a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.footerbase {
    font-size: 13px;
    font-weight: 300;
    background-color: #150d2b;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.baselinks>a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding: 0px 30px;
}

.baselinks>a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.blink {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.smlinks {
    padding: 20px;
}

.smlinks>a {
    font-size: 18px;
    color: white;
    padding: 0px 10px;
}

.smlinks>a:hover {
    color: #2b98f7;
}

/* Footer ends */

/* Responsive */

@media (max-width:900px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #10385c;
        text-align: center;
        top: 56px;
        left: -100%;
        padding-top: 50px;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        line-height: 30px;
    }

    nav ul li a {
        color: #fff;
        font-size: 20px;
    }

    nav ul li a::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        display: inline-block;
        background-color: #fff;
        transform: scaleX(0);
        transition: all 0.5s;
    }

    nav ul li a:hover::before {
        transform: scaleX(1);
    }

    #check:checked~ul {
        left: 0;
    }
}

@media (max-width: 767px) {

    .textdiv {
        width: 100%;
        padding: 30px;
    }

    .viddiv {
        width: 100%;
    }

    .comdiv {
        width: calc(100% - 16px);

    }

    .demodiv {
        width: 100%;
    }

    .demodiv div {
        width: 100%;
    }

    .demodiv>form {
        padding: 30px 0;
    }

    .nextdiv {
        width: 100%;
        border-left: none;
    }

    .borderdiv {
        border: none;
        padding: 0;
    }

}

@media (min-width:768px) and (max-width: 991px) {

    .textdiv {
        padding: 30px;
    }

    .comdiv {
        width: calc(50% - 16px);
    }

    .demodiv {
        width: 100%;
    }

    .demodiv>form {
        padding: 30px 0;
    }

    .nextdiv {
        width: 100%;
        border-left: none;
    }

}